*{
      box-sizing: border-box;
}

html{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
}

body{
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: ;
      font-weight: 400;
      background: url(bg3.jpg);
      background-position : center;
      background-size: cover;
      /* perspective: 1px; */
      transform-style: preserve-3d;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
}

header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

header h1{
  margin-top: -100px;
}

header, header:before{
  background: 50% 50% / cover;
}

header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: (1.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  /* min-height: 100vh; */

}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

nav{
      padding: 8px;
}

.logo{
      float: left;
      padding: 8px;
      margin-left: 16px;
      margin-top: 8px;
}

.logo a {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
}

nav ul {
      float: right;
}

nav ul li{
      display: inline-block;
      float: left;
}

nav ul li:not(:first-child){
      margin-left: 48px;
}

nav ul li:last-child{
      margin-right: 24px;
}

nav ul li a{
      display: inline-block;
      outline; none;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

@media screen and (max-width:864px){
      .logo{
            padding: 0;
      }

      .nav-wrapper{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index:-1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li{
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a{
            transition-delay: 0.2s;
      }
      .nav-wrapper ul li:nth-child(2) a{
            transition-delay: 0.3s;
      }
      .nav-wrapper ul li:nth-child(3) a{
            transition-delay: 0.4s;
      }
      .nav-wrapper ul li:nth-child(4) a{
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child){
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translate(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1){
            margin-top: 16px;
      }
      .nav-btn i:nth-child(2){
            margin-top: 4px;
            opacity: 1;
      }
      .nav-btn i:nth-child(3){
            margin-top: 4px;
      }

}


#nav:checked + .nav-btn{
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + nav-btn i:nth-child(1){
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + nav-btn i:nth-child(2){
      opacity: 0;
}

#nav:checked + nav-btn i:nth-child(1){
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper{
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden{
      display: none;
}








/*------------------------------------------------------*/
/*------------ PROJECTS --------------------------------*/
/*------------------------------------------------------*/


/*----page subscribtion--------*/
 .personal h2 {

             font-size:         1.5em;
 }

 .reference h2{

             font-size:         1.5em;
 }

 .input select{

             font-size:         0.5em;
 }

 .note h2{

             font-size:         1.5em;
 }

 .description textarea{

               display:          none;
 }

 .note textarea{

               display:          none;
 }

 .contact input{

       background-color:       inherit;
                 width:           auto;
             border-top:             0;
             border-left:            0;
             border-right:           0;
 }

 .timeline label{

                   width:          50%;
 }

 .categories table{

                   width:           50%;
               font-size:         0.5em;
 }

 /*fiche dev*/

 .bob-rond, .stuart-rond, .kevin-rond{

                   width:          5em;
                   height:         5em;
                   border-radius:  2em;
 }

 /*dev-space*/


 .paragraphs p {
                   font-size:       1em;
 }

 .project_description_cont h1{
                   font-size:     2em;
 }

 .project_image img{

                   widows:           5em;
                   padding:            0;
 }

 /* article par dessus le tableau */
 article{
   display: block;
   margin-right: 6em;
 }

 .project_description {
   position: relative;
   top: 30%;
   right: -79px;
   margin-top: -100px;
   width: 210px;
   background: #fff;
   z-index: 4;
 }

 .project_description_cont{ /* le cadre par dessus les 4 images*/
   position: relative;
   padding: 25px;
   opacity: 1;
   z-index: 5;
 }

 .project_title {
   display: inline;
   font: normal 17px/30px 'f24e4d5d';
   border-bottom: 4px solid #fff;
 }

 .brief-recruiter{ /* besoin de changer la police qui est introuvable */
   font-family: 'f24e4d5d',"Helvetica Neue","Helvetica","Arial";
   font-size: 14px;
   line-height: 17px;
   color: #000;
 }


 /*  le tableau */

 .project_number{
   padding: 0em 0em;
   margin: 2em 0em;
 }

 #project_annonay_content img,
 #project_ca-commence-par-moi_content img,
 #project_cacao-forest_content img,
 #project_please-come-inside_content img,
 #project_away-hostel-and-coffee-shop_content img,
 #main img{

   padding: 0 0;
 }
 .table { /* le tableau de projets*/
   position: relative;
   display: table;
   width: 100%;
   height: 100%;
   margin-left: 2em;
   padding-top: 3em;
 }

 .project_images {
   position: relative;
   display: table-cell;
   vertical-align: middle;
   z-index: 3;
 }


 .project_image img{
   width:28em;
   padding: 0;
 }

 .project_image.first { /*pour avoir de lespace entre les 4 images*/
   margin-bottom: 20px;
 }

 .project_image.even {
   margin-left: 20px;
 }

 .project_image {
   position: relative;
   display: inline-block;
   vertical-align: top;
   width: 29em;
   height: 18em;
   border: 10px solid #fff;
   overflow: hidden;
 }

 figure {
   margin: 0;
 }

 /* article par dessus le tableau */
 #project_ca-commence-par-moi_description{
   display: block;
   margin-top: -35em;
   margin-right: 28em;
 }
 #project_annonay_description{
   display: block;
   margin-top: 25em;
   margin-right: 28em;
 }

 #project_cacao-forest_description{
   display: block;
   margin-top: 82em;
   margin-right: 6em;
 }

 #project_please-come-inside_description{
   display: block;
   margin-top: 76em;
   margin-right: 28em;
 }
 /*
 #project_away-hostel-and-coffee-shop_description{
   display: block;
   margin-top: 59em;
   margin-right: 6em;
 }*/

 .project_description {
   position: absolute;
   top: 30%;
   right: -130px;
   margin-top: -100px;
   width: 210px;
   background: #fff;
   z-index: 4;
   font-size: small;
 }

 .project_description_cont{ /* le cadre par dessus les 4 images*/
   position: relative;
   padding: 25px;
   opacity: 1;
   z-index: 5;
 }

 .project_text{
   padding-top: 2em;
 }

 .project_title {
   display: inline;
   font: normal 17px/30px 'f24e4d5d';
   border-bottom: 4px solid #fff;
 }

 .brief-recruiter{ /* besoin de changer la police qui est introuvable */
   font-family: 'f24e4d5d',"Helvetica Neue","Helvetica","Arial";
   font-size: 14px;
   line-height: 17px;
   color: #000;
 }
